<h1>This is the show page for an individual instance of your model.</h1>
Welcome 

<p style="text-align:center;">
    <a href="/traxes/show">Continue to Trax</a> or
    <a href="/sign_out">Logout</a>
</p>