
<h1>Sign in </h1>

<form action="/sign_in" method= "POST">
    <p>
    <label for= "username">Username:</label>
    <input type="text" name="username" id="username"  />
    </p>
    <p>
    <label for= "password">Password:</label>
    <input type="password" name="password" id="password"  />
    </p>

    <input type="submit" />
</form>