<h1 style="text-align:center;">Log In</h1>

<form action="/sign_in" method= "POST">
    <p style="text-align:center;">
    <label for= "username">Username:</label>
    <input type="text" name="username" id="username"  />
    </p>
    <p style="text-align:center;">
    <label for= "password">Password:</label>
    <input type="password" name="password" id="password"  />
    
    </p>
    <p style="text-align:center;">
    <input type="submit" value='Submit' />
    <input type="submit" value='Register'>
    </p>
</form>