<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, intial-scale=1.0">
    <title>What does your dating life look like??</title>
</head>
<body>
    <%= if @user.traxes.empty? %>
        <p><%= "There are no experiences to display!" %></p>
       
    <% else %>
        <p style="text-align:center;">
            <a href="/traxes/new">Create</a>
        </p>
        <% @traxes.each do |tr| %>
         <p><a href="/trax/<%=tr.id%>"></a></p>
                
        <% end %>
         

    <% end %> 

</body>
</html>