<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, intial-scale=1.0">

</head>
<body>
    

    <h1>Tell me all about it!!</h1>


    <form action="/traxes" method= "POST">
        <br><br>
        <label for= "name">Name:</label>
        <input type="text" name="name" id="name"  />
        <br><br>
        <label for= "date">Date:</label>
        <input type="date" name="date" id="date">
        <br><br>
        <label for= "score">Score:</label>
        <input type="range" name="score" id="score" min="0" max="5" />
        <br><br>
        <label for= "location">Location:</label>
        <input type="text" name="location" id="location" />
        <br><br>
        <label for= "phone">Phone Number:</label>
        <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
        <br><br>
        <label for= "interest">Interest:</label>
        <input type="radio" name="yes" id="yes" />
        <label for="yes">YES</label>
        <input type="radio" name="no" id="no" />
        <label for="no">NO</label>
        <br><br>
        <input type="reset">
        <input type="submit">
        <br><br>
    </form>
</body>
</html>
