<h1>This is the show page for an individual instance of your model.</h1>

<h1> Your Recent Experience </h1>

Name :<% Trax.name %><br>
Date :<% Trax.date %><br>
Score:<% Trax.score %><br>
Where you went :<% Trax.location %><br>
Number :<%= Trax.number %><br>
Will you go on another date ? :<%= Trax.interest %><br>



<form method="post" action="/traxes/<%= Trax.user_id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">

</form>

