<div> class="navbar">
    <a class="navbar-button" href="/sign_in">Login</a>
    <a class="navbar-button" href="/traxes/new"> Add New Experience</a>
    <a class="navbar-button" href="/traxes/"> See Trax</a>
    <form class='navbar-button' action="user/sign_out" method=POST>
        <input type="hidden" name="_method" value="delete">
        <input class="navbar-button" ntype="submit" value="sign_out">
    </form>    
<div>
