<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-4 col-md-offset-2">
    

    <div class="content">
     

    
    </div>
    <p style="text-align:center;">
      <a href="/users/sign_in">Login</a> or
      <a href="/users/register">Register</a>
    </p>  
  </div>
</div>